.application-image{
    height: 100px;
    width: 100px;
}

.application-version-dropdown{
    background-color: transparent;
}
.application-version{
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}